{% extends 'users/base.html' %}
 
{% block content %}
{% load static %}
{% if not attempted and time > quiz.startafter_time and time < quiz.startbefore_time %}
    <div class="container ">
    <h1>Welcome to the Quiz: {{quiz.title}}</h1>
    
    <div align="right " id="displaytimer"><b>Timer: 0 seconds</b></div>
    
    <form method='post'>
        {% csrf_token %}
        {% for q  in questions%}
        <div class="form-group">
        <label for="question">{{q.question}}</label>
        </div>
        <div class="form-check">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1" value="A" checked>
                <label class="form-check-label" for="gridRadios1">
                    {{ q.optionA }}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="B">
                <label class="form-check-label" for="gridRadios2">
                    {{ q.optionB }}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1" value="C">
                <label class="form-check-label" for="gridRadios1">
                    {{ q.optionC }}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="D">
                <label class="form-check-label" for="gridRadios2">
                    {{ q.optionD }}
                </label>
            </div>
            <br>
        </div>    
        {% endfor %}
        <input id='timer' type='hidden' name="timer" value="">
        <br>
        <button id="autosubmit" type="submit" class="btn btn-primary">Submit</button>
    </form>
        <script>
            const COUNTER_KEY = 'my-counter {{ quiz.pk }}'
            const timer=document.getElementById('displaytimer')
            const inputtag = document.getElementById('timer')
            DURATION = '{{ quiz.duration }}'
            DURATION = parseInt(DURATION)*60
            const autosubmit = document.getElementById('autosubmit')

        

            function countdown(t){
            setInterval(function(){
                timer.innerHTML ="<b>Timer: "+Math.floor(t/60)+" minutes "+(t%60)+" seconds</b>"
                inputtag.value = DURATION-t
                if ((t--) > 0)
                {
                window.sessionStorage.setItem(COUNTER_KEY, t)
                }
                else
                {
                window.sessionStorage.removeItem(COUNTER_KEY)
                autosubmit.click()
                }
    }, 1000)
    }
            

            window.onload = function(){
                countdowntime = window.sessionStorage.getItem(COUNTER_KEY) || DURATION
                countdown(countdowntime)
            }
        </script>
    </div>
{% else %}
    You have either already attempted this quiz or the quiz time is yet to start or quiz time is over!
{% endif %}
{% endblock %}