{% extends "users/base.html" %}
{% load static %} 
{% block content %}
    {% if user.is_authenticated %}
        {% if user.type == 1 %}
            <h4>Courses Enrolled List</h4>
        {% elif user.type == 2 %}
            <h4>Managed Courses List</h4>
        {% else %}
            <h4>Created Courses List</h4>
        {% endif %}
        {% for course in courses %}
            <article class="media content-section" style="border-radius: 0 15% 15% 0;">
                <img class="rounded-circle article-img" src="{{ course.coursepic.url }}">
                <div class="media-body">
                    <h3><a class="article-title" href="{% url 'course-detail' course.pk %}">{{ course.code }}</a></h3>
                    <p class="article-content">{{ course.title }}</p>
                </div>
            </article>
        {% endfor %}
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-secondary mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-secondary mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        {% endif %}
    {% else %}
    <div class="col-lg-9">
    <h2 style="font-family: papyrus;font-weight: 900;text-align: justify;">FlashLearn LMS v38 created by Santhosh Deshineni provides a redefined user experience that improves online teaching and learning for educators, learners and administrators.</h2>
    </div>
        
    {% endif %}
{% endblock content%}